<!doctype html>
<title>Neural Network</title>
<h1>Get an Image of a Digit Recognized!</h1>
Find the line of best fit!
File's data should be formatted according to the following rules:
<ul>
	<li>Data points are separated by new lines.</li>
	<li>The dimensions of each data point is separated by a comma.</li>
</ul>

<br>
Example data file contents:<br><br>
6.1101,17.592<br>
5.5277,9.1302<br>
8.5186,13.662<br>
7.0032,11.854<br>
5.8598,6.8233<br>
8.3829,11.886<br>
7.4764,4.3483<br>
8.5781,12<br>
6.4862,6.5987<br>
5.0546,3.8166<br>
5.7107,3.2522<br>

<br>

<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>